$header-bg-img: url(/img/0.jpg) no-repeat center center fixed;
$img-1: url(/img/1.jpg);
$img-2: url(/img/2.jpg);
$img-3: url(/img/3.jpg);
$main-font-color: #bfbfbf;
$testimonial-bg-color: #a77676;
$testimonial-box-color: #c494a4;
$form-bg-color: #9ea4a8;
$form-color: #7a7171;
$footer-bg-color: #22638f;
$footer-font-color: #1480c9;
$footer-btn-color: #083858;
