$header-bg-img: url(/img/4.jpg) no-repeat center center fixed;
$img-1: url(/img/5.jpg);
$img-2: url(/img/6.jpg);
$img-3: url(/img/7.jpg);
$main-font-color: #d38d8d;
$testimonial-bg-color: #977489;
$testimonial-box-color: #c99fad;
$form-bg-color: #a58aa5;
$form-color: #8a7979;
$footer-bg-color: #680c7a;
$footer-font-color: #e077d8;
$footer-btn-color: #630556;
